<!DOCTYPE html>
<html>
  <head>
    <title>TEST Internet Nanny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css"
    rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
      <div class="container">
        <div class="page-header">
          <h1>TEST Internet Nanny</h1>
        </div>
        <p>This is a little wrapper for putting warning pages before
        potentially offensive links. Use the form below to get a wrapped
        link</p>
        <form class="form-inline" method="post">
          <input type="text" placeholder="http://reddit.com/r/wtf" name="url">
          <button type="submit" class="btn btn-primary">Get link</button>
        </form>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"><script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css"></script>
  </body>
</html>

