<!DOCTYPE html>
<html>
  <head>
    <title>TEST Internet Nanny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css"
    rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
      <div class="container">
        <div class="page-header">
          <h1>TEST Internet Nanny</h1>
        </div>
        <p>Behind this page lies material that some people consider offensive.
        Do you want to see this material?</p>
        <form class="form-inline" method="post">
          <a class="btn" href="http://www.youtube.com/watch?v=VgvM7av1o1Q">No</a>
          <button type="submit" class="btn btn-primary">Yes</button>
          <label class="checkbox">
            <input type="checkbox" name="persist"> Remember for the rest of
            today
          </label>
        </form>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"><script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css"></script>
  </body>
</html>

